var numberToFixed = function (value, length) {
  return value.toFixed(length)
}

var getUserGroupTagTheme = function (userGroup) {
  var theme = ''
  switch (userGroup) {
    case '系统管理员':
      theme = 'danger'
      break
    case '频道主':
      theme = 'warning'
      break
    case '频道管理员':
      theme = 'success'
      break
    default:
      theme = 'primary'
  }
  return theme
}

module.exports = {
  numberToFixed: numberToFixed,
  getUserGroupTagTheme: getUserGroupTagTheme
}