var numberToFixed = function (value, length) {
  return value.toFixed(length)
}

var getUserGroupTagTheme = function (userGroup) {
  var theme = ''
  switch (userGroup) {
    case '系统管理员':
      theme = 'danger'
      break
    case '频道主':
      theme = 'warning'
      break
    case '群主':
      theme = 'warning'
      break
    case '频道管理员':
      theme = 'success'
      break
    case '群管理员':
      theme = 'success'
      break
    default:
      theme = 'primary'
  }
  return theme
}

var isInArray = function (arr, value) {
  if(!arr || !arr.length) {
    return false
  }
  for (var i = 0; i < arr.length; i++) {
    if (arr[i] === value) {
      return true
    }
  }
  return false
}

module.exports = {
  numberToFixed: numberToFixed,
  getUserGroupTagTheme: getUserGroupTagTheme,
  isInArray: isInArray
}