var numberToFixed = function (value, length) {
  return value.toFixed(length)
}

var getUserGroupTagTheme = function (userGroup) {
  var theme = ''
  switch (userGroup) {
    case '系统管理员':
      theme = 'danger'
      break
    case '频道主':
      theme = 'warning'
      break
    case '群主':
      theme = 'warning'
      break
    case '频道管理员':
      theme = 'success'
      break
    case '群管理员':
      theme = 'success'
      break
    default:
      theme = 'primary'
  }
  return theme
}

var isInArray = function (arr, value) {
  if (!arr || !arr.length) {
    return false
  }
  for (var i = 0; i < arr.length; i++) {
    if (arr[i] === value) {
      return true
    }
  }
  return false
}

var randomCharPicture = function (group, type) {
  var random = Math.random() * 3
  var seed = Math.floor(random)
  var base = 'https://dreamy-tour-1319433252.cos.ap-beijing.myqcloud.com/ui/'
  var links = [
    base + "201",
    base + "205",
    base + "209",
    base + "203",
    base + "204",
    base + "207",
    base + "202",
    base + "206",
    base + "208",
  ]
  return links[3 * group + seed] + (type) + ".png"
}

module.exports = {
  numberToFixed: numberToFixed,
  getUserGroupTagTheme: getUserGroupTagTheme,
  isInArray: isInArray,
  randomCharPicture: randomCharPicture,
}