
.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30rpx;
}

.app-name {
  font-size: 50rpx;
  font-weight: bolder;
}

.wx-login-btn {
  margin-top: 100rpx;
  width: 60%;
}

.test-mode-btn {
  margin-top: 10rpx;
  width: 60%;
}

