
.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30rpx;
  transition: transform 0.3s ease;
}

.title-0 {
  transform: translateY(0);
}

.title-1 {
  transform: translateY(-100rpx);
}

.login-handler {
  height:600rpx; 
  width: 100%;
  justify-content: flex-end;
}

.input-example {
  margin: 0 150rpx;
  margin-top: 32rpx;
  border: 1px solid #0052d9;
  border-radius: 18rpx;
}

.app-name {
  font-size: 50rpx;
  font-weight: bolder;
  font-family: Arial;
}

.btn {
  margin-top: 32rpx;
  width: 60%;
  font-weight:600 !important;
  font-family: Microsoft YaHei !important;
}

.wx-login-btn {
  color: white !important;
  background-color: rgb(67, 194, 67) !important;
}

.slogan{
  font-family: Helvetica;
}
