/* report-for-tour.wxss */

@import url('../../../components/fonts/transportation.less');

.container{
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
}

.narrow-radio {
  --td-radio-vertical-padding: 10rpx;
}

.narrow-input {
  --td-input-vertical-padding: 0rpx;
}

ec-canvas {
  width: 100%;
  height: 520rpx;
}

.t-button{
  display:flex;
  justify-content: flex-end;
  margin:0;
}

.narrow-cell {
  display: flex;
  align-items: center;
  --td-cell-vertical-padding: 10rpx;
}