.swiper-container {
  background-color: #eee;
  height: 50vh;
}

.swiper-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-image {
  width: 100%;
}

.avatar-example:not(:last-child) {
  margin-right: 20rpx;
}

.external-class-content {
  color: #fff;
  background-color: var(--td-brand-color, #0052d9);
  font-weight: 400;
}

.post-title {
  background-color: #fff;
  font-size: large;
  font-weight: bold;
  padding: 30rpx;
}

.post-content-text {
  background-color: #fff;
  padding: 0rpx 30rpx;
}

.post-meta {
  display: flex;
  align-items: center;
  padding: 30rpx;
  background-color: #fff;
  border-bottom: 2px solid #eee;
}

.username {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.timestr {
  display: flex;
  align-items: center;
  color: #bbb;
}

.likes {
  display: flex;
  align-items: center;
  margin-right: 30rpx;
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20rpx 0rpx;
  background-color: #fff;
  border-top: 2px solid #eee;
}

.bottom-bar-input {
  background-color: #eee !important;
  color: #bbb !important;
  width: 70%;
  justify-content: left !important;
  font-weight: normal !important;
  margin-left: 30rpx !important;
}

.comment-item {
  width: 100%;
  display: flex;
  align-items: top;
  padding: 20rpx 30rpx;
  background-color: #fff;
}

.comment-item:active {
  background-color: #eee !important;
}

.comment-like {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20rpx;
}

.text-btn {
  padding: 0 !important;
  margin-right: 20rpx !important;
  font-weight: normal !important;
  background-color: rgba(0, 0, 0, 0) !important;
}