.swiper-container {
  background-color: #eee;
  height: 50vh;
}

.swiper-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-image {
  width: 100%;
}

.avatar-example:not(:last-child) {
  margin-right: 10rpx;
}

.external-class-content {
  color: #fff;
  background-color: var(--td-brand-color, #0052d9);
  font-weight: 400;
}

.post-title {
  background-color: #fff;
  font-size: large;
  font-weight: bold;
  padding: 20rpx;
}

.post-content-text {
  background-color: #fff;
  padding: 20rpx;
}

.post-meta {
  display: flex;
  align-items: center;
  padding: 20rpx;
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
  color: #666;
}

.username {
  flex-grow: 1;
}

.timestr {
  display: flex;
  align-items: center;
}